<div class="report">
  {{#vt-typography/subheaders/small}}
    Date:
  {{/vt-typography/subheaders/small}}

  {{#if screen.largerThanTablet}}
    {{#vt-typography/subheaders/small}}
      Position:
    {{/vt-typography/subheaders/small}}
  {{/if}}

  {{#vt-typography/subheaders/small}}
    FO:
  {{/vt-typography/subheaders/small}}

  {{#vt-typography/subheaders/small}}
    DO:
  {{/vt-typography/subheaders/small}}

  {{#vt-typography/subheaders/small}}
    FW:
  {{/vt-typography/subheaders/small}}
</div>

<div class="buttons"></div>

