<span class="menu-toggle">
    <i class="menu-open fa fa-bars fa-lg"></i>
    <i class="menu-close fa fa-times fa-lg"></i>
  </span>
<ul class="menu-items">
  {{main-navigation/item click=(action 'signOut') label='Vessels' icon='ship'}}
  {{main-navigation/item click=(action 'signOut') label='Reports' icon='file-text-o'}}
  {{main-navigation/item click=(action 'signOut') label='Log out' icon='power-off'}}
</ul>
