& {
  padding: 0 32px;
  text-align: center;

  @media all and (max-width: $tablet) {
    text-align: left;
  }

  .mini-stats-items {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @media all and (max-width: $tablet) {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 0;
    }
  }
}
