& {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  .reports-list-item {
    min-height: 54px;
    margin: 0;
  }

  @media all and (max-width: $tablet) {
    flex-direction: column;

    .header, .reports-list-item {
      padding: 0 15px;
    }
  }
}
