& {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  .reports-list-item {
    min-height: 54px;
    padding: 0 15px;
    margin: 0;
  }

  .header {
    padding: 0 15px;
  }

  @media all and (max-width: $tablet) {
    flex-direction: column;
  }
}
