& {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FFF;
  width: 350px;
  padding: 0 20px;
  text-align: center;
  @include transitions-all();
  @include border-radius(5);
  @include box-shadow(0 0 100px 1px rgba(0,0,0,0.1));

  &:hover {
    @include box-shadow(0 0 20px 1px rgba(0,0,0,0.2));
    transform: scale(1.05);
  }

  @media all and (max-width: $phone) {
    width: 100%;
    padding: 0;
    @include border-radius(0);
    @include box-shadow(0 0 0 0 #fff);
    border: solid 1px $color-whitey;

    &:hover {
      @include box-shadow(0 0 0 0 #FFF);
      transform: scale(1);
    }
  }

  img {
    height: 150px;
    width: auto;
    margin-top: 20px;
    @include border-radius(2px);

    @media all and (max-width: $phone) {
      height: 200px;
      padding-top: 30px;
    }
  }

  h2 {
    margin: 5px 0 0 ;

    @media all and (max-width: $phone) {
      margin-top: 15px;
      padding: 0 10px;
    }
  }

  .subheader-small {
    padding: 0 0 15px;

    @media all and (max-width: $phone) {
      padding: 0 15px 30px;
    }
  }
}
