<div class="image">
  <img src=''>
</div>

{{#vt-typography/subheaders/small}}
  {{vessel.name}}
{{/vt-typography/subheaders/small}}

{{#vt-typography/subheaders/small}}
  {{vessel.imoNumber}}
{{/vt-typography/subheaders/small}}

