<nav>
  <div>
    <button type="button" data-toggle="collapse" data-target="#main-navbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    {{#link-to 'login'}}V-tracker{{/link-to}}
  </div>

  <div id="main-navbar">
    <ul>
      {{#vt-ui/nav-link-to 'users'}}Users{{/vt-ui/nav-link-to}}
    </ul>

    <ul>
      <img src={{session.currentUser.photoURL }} height="30" width="30">
      <span>{{session.currentUser.displayName}}</span>
      <i {{action 'signOut'}}>{{fa-icon 'sign-out' class="zoom-in-icon navbar-icon"}}</i>
    </ul>
  </div>
</nav>
