& {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  @include border-radius(3px);

  @include transitions-all;
  color: $color-green;

  &:hover {
    background-color: #FFF;
    @include box-shadow(0 20px 50px 25px rgba(83, 99, 115, 0.10));

    md-icon.explore-icon {
      color: $color-green;
    }

    .title {
      color: $color-font-grey;
      font-weight: 700;
    }

    .description > li {
      opacity: 1;
    }
  }

  md-icon.explore-icon {
    color: #FFF;
    font-size: 80px;
    margin-top: 70px;

    &:hover {
      color: $color-green;
    }
  }

  .title {
    color: #FFF;
    text-align: center;
    margin-top: 40px;
  }

  .description {
    text-align: center;

    > li {
      list-style-type: none;
      color: $color-font-light-grey;
      opacity: 0;
    }

    margin-bottom: 70px;
  }
}
