@import '../buttons-mixin';

& {
  @include common-button();
  @include font(16px, 700);
  color: $color-font-light-grey;
  min-height: 56px;
  padding: 0 48px;
  background-color: transparent;

  @media all and (max-width: $phone) {
    font-size: 18px;
    width: 100%;
  }

  &:hover {
    color: $color-font-grey;
  }
}
