{{#vt-ui/buttons/negative-small
  onClick=(action 'showPrompt' report)
}}
  {{#vt-typography/subheaders/small}}
    {{vt-ui/fa-icon icon='trash-o'}}
  {{/vt-typography/subheaders/small}}
{{/vt-ui/buttons/negative-small}}

{{#if showPromptDialog}}
  {{#paper-dialog
    fullscreen=fullscreen
    onClose=(action "closePromptDialog" report)
    origin=dialogOrigin
  }}
    <div id="paper-wormhole"></div>

    {{#paper-dialog-content}}
      {{#vt-typography/headers/heading-h3}}
        Are you sure you want to delete the report?
      {{/vt-typography/headers/heading-h3}}
      {{#vt-typography/headers/heading-h4}}
        Report date: {{report.reportTime}}
      {{/vt-typography/headers/heading-h4}}
    {{/paper-dialog-content}}

    {{#paper-dialog-actions class="layout-row"}}
      <span class="flex"></span>
      {{#paper-button
        primary=true
        onClick=(action "closePromptDialog" "cancel")}}
          Cancel
      {{/paper-button}}
      {{#paper-button
        primary=true
        onClick=(action "deleteReport" report)}}
          Delete
      {{/paper-button}}
    {{/paper-dialog-actions}}
  {{/paper-dialog}}
{{/if}}
