& {
  width: 100%;
  height: 50em;
  text-align: center;

  &:after {
    content: "";
    background-image: url('../images/login-background.jpg');
    opacity: 0.5;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    height: 50em;
  }

  .main-header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%
  }

  .small-text-top {
    &:after {
      top: 15px;
      left: 50%;
      bottom: 0;
      position: relative;
      width: 35px;
      height: 2px;
      content: "";
      display: inherit;
      background-color: $color-green;
      transform: translateX(-50%);
    }
  }

  .main-text {
    margin-top: 40px;
  }

  .login-button {
    margin-top: 60px;
  }
}
