& {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FFF;
  width: 100%;
  padding: 0;
  text-align: center;
  @include transitions-all();
  @include border-radius(5);
  border: solid 1px $color-whitey;

  &:hover {
    background-color: $color-whitey-lighter;
  }

  &:first-child:hover {
    background-color: #FFF;
  }

  > a {
    width: 100%;
  }

  @media all and (max-width: $phone) {
    @include border-radius(0);
  }

  .add-new-vessel-icon {
    height: 70px;
    width: 100%;
    color: $color-font-light-grey;

    @include font(40px, 600);
  }
}
