& {
  .vessel-name {
    padding: 0 15px;
  }

  .mini-stats {
    margin-top: 20px;
  }

  .google-map {
    margin-top: 30px;
  }

  .rob-per-day-chart-header {
    margin-top: 50px;
    text-align: center;
  }

  .rob-per-day-chart {
    margin-top: 20px;
  }

  .day-statistics {
    margin-top: 30px;
  }
}
