{{#if session.isAuthenticated}}
  {{main-navigation session=session}}
  <main class="content">
    <div class="content-inner">
      {{outlet}}
    </div>
  </main>
{{else}}
  <nav>
    {{#link-to 'login' class="navbar-brand"}}V-Tracker{{/link-to}}
  </nav>
  {{outlet}}
{{/if}}
